#showFiles

  display: flex
  flex-wrap: wrap
  align-items: baseline

  .item
    width: 270px
    padding: 0 10px

  .thumbnail
    max-height: 250px

  .item
    width: 104px
    padding: 0 4px

  .thumbnail
    max-height: 96px

  img
    object-fit: contain
    object-position: bottom
    width: 96px
    height: 96px

  span
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 3
    overflow: hidden
    font-size: 11px
